@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

#header {
	padding: 10px;
	text-align: center;
}

#footer{
	text-align: center;
	padding: 10px;		
}

#main{
	text-align: center;	
}

#box{
	width: 80%;
	border: thin solid #333;
	display: inline-block;
	border-radius: 20px;
	padding: 20px;
}

#menu{
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	padding: 10px;	
	}
	

body {
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
}
h1 {
	font-size: large;
}

@media (max-width: 600px) {
  table {
    width: 90%;
  }
}
